@charset "UTF-8";
*
{
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: border !important;
	
}
.main_form input,.main_form button
{
	margin-left: 10px;
	
	
}
.scrap_content *
{
	font-size: 8pt;
	
	
}